@CHARSET "UTF-8";
html {
  position: relative;
  min-height: 100%;
}

navbar-brandcenter {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}
.navbar {
  border: 0px;
}
.container-fluid {
  padding-left: 10px;
}
#home {
  padding-bottom: 0px;
  padding-top: 0px;
}
#logout {
  padding-top: 15px;
}
#bar {
    margin-bottom: 14px;
    margin-top: 14px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #080808;
  padding-top:10px;
}
#footer a {
  color:#efefef;
}
#cookieBanner {
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 1;
}
#cookieBanner a {
	color: aqua;
}
.dot {
  height: 50px;
  width: 50px;
  background-color: #bbb;
  border-radius: 50%;
  border: 1px solid lightgrey;
  display: inline-block;
  position: relative;
  left: 50px;
}

table.custorderdata table
{
    float:left; 
    position: static;
    left: 60px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	font-weight: normal;
    text-align: left;
	border-collapse: collapse;
	border: 1px solid #d9d9d9;
	padding: 5px;
	cell-spacing: 5px;
	cell-padding: 5px;
	width: 100%;
}

table.custorderdata th
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	font-weight: bold;
    text-align: center;
	border-collapse: collapse;
	border: 1px solid #d9d9d9;
	padding: 5px;
	cell-spacing: 5px;
	cell-padding: 5px;
	}

table.custorderdata td
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	font-weight: bold;
    text-align: center;
	border-collapse: collapse;
	border: 1px solid #d9d9d9;
	padding: 5px;
	cell-spacing: 5px;
	cell-padding: 5px;
	}
.bg-dark{
    background-color: #080808!important;
}
.btn-secondary {
    color: #000000;
    background-color: #d6d9db;
    border-color: #d6d9db;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open>.dropdown-toggle.btn-secondary {
    color: #FFFFFF;
    background-color: #a0a6ac;
    border-color: #a0a6ac;
}
/*DJM added this section for centered forms */
:root {
  --input-padding-x: .75rem;
  --input-padding-y: .75rem;
}

html,
body {
 
}
label{
	font-weight:700;
}
.sw-label{
	display: inline-block;
    padding: .25em .4em;
  
    font-weight: 700;
    line-height: 1;
   
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
	font-size: 12px;
}
.center-form-parent {
  height: 100%;
  
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  display: block;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 5px;
  background-color: #ffffff;
}
.center-text-parent {
  height: 100%;
  
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
   -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 5px;
  background-color: #ffffff;
}
.form-sw-centered {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: 0 auto;
}
.form-sw-ecal-centered {
  width: 100%;
  max-width: 620px;
  padding: 15px;
  margin: 0 auto;
}
.sw-textbox{
	 width: 100%;
  max-width: 520px;
  padding-top: 0px;
   justify-content: center;
}
/*end section for centered forms */
@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
   max-width:1200px;
  }
}