<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                        http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <security-constraint>

        <web-resource-collection>
            <web-resource-name>Secure Pages</web-resource-name>
            <url-pattern>/secure/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>

        <auth-constraint>
            <description>All authenticated logins have role EveryoneRole</description>
            <role-name>EveryoneRole</role-name>
        </auth-constraint>

        <!-- For enabling SSL, specify CONFIDENTIAL or INTEGRAL. -->
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/index.jsp</form-login-page>
            <form-error-page>/index.jsp</form-error-page>
        </form-login-config>
    </login-config>

    <!-- Declare all the roles used in <auth-constraint> above -->
    <security-role>
        <description>EveryoneRole</description>
        <role-name>EveryoneRole</role-name>
    </security-role>
</web-app>
